:root {
    --Soft-blue: hsl(215, 51%, 70%);
    --Cyan: hsl(178, 100%, 50%);
    --Very-dark-blue-main: hsl(217, 54%, 11%);
    --Very-dark-blue-card: hsl(216, 50%, 16%);
    --Very-dark-blue-line: hsl(215, 32%, 27%);
    --White: hsl(0, 0%, 100%);
}

* {
    margin: 0;
    padding: 0;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

body {
    background-color: var(--Very-dark-blue-main);
}

main {
    display: flex;
    position: absolute;
    bottom: 0;
    top: 0;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.container-card {
    width: 270px;
    height: 440px;
    background-color: var(--Very-dark-blue-card);
    border-radius: 15px;
}

.container-img-nft {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
}

.img-nft {
    width: 225px;
    height: 200px;
    border-radius: 6px;
}

h1 {
    /* font-family: 'Outfit'; */
    color: var(--White);
    font-size: 16px;
}

p {
    font-size: 13px;
    /* font-family: 'Outfit'; */
    color: var(--Soft-blue);
}

h1,
h2,
p,
.container-author {
    margin-left: 25px;
    margin-right: 25px;
    font-family: 'Outfit';
}

strong {
    color: var(--White);
}

.ether-price {
    color: var(--Cyan);
}

.time-left {
    color: var(--Soft-blue);
}

.container-currency {
    display: inline-flex;
    font-size: 9px;
    justify-content: space-between;
    width: 100%;
}

.container-author {
    height: 84px;
    display: flex;
    align-items: center;
    border-top: 1px solid var(--Soft-blue);
}

.img-author {
    border: 1px solid var(--White);
    border-radius: 16px;
    width: 30px;
    height: 30px;
}

.text-author {
    margin-left: 10px;
}

a {
    text-decoration: none;
    color: var(--White);
}

.link-author:hover,
.link-title:hover {
    color: var(--Cyan);
}


/* Opacity #2 */

.container-img-nft,
.img-nft {
    opacity: 1;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.container-img-nft:hover .img-nft:hover {
    opacity: .5;
}

.background-img-nft {
    background-color: cyan;
    border-radius: 7px;
    height: 90%;
    display: grid;
    position: relative;
}

.svg-view {
    position: absolute;
    /* display: none; */
}

.container-svg {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}


/* .container-icon-view {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
} */